<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filtrar Variantes</title>
</head>
<body>
    <h2>Filtros</h2>
    <form id="filter-form">
        <label for="af">Frequência Alélica (AF >=):</label>
        <input type="text" id="af" name="af" value="0.05"><br>
        <label for="dp">Profundidade (DP >=):</label>
        <input type="text" id="dp" name="dp" value="100"><br>
        <button type="submit">Filtrar</button>
    </form>

    <h2>Resultados</h2>
    <p id="num-variants"></p>
    <img id="af-plot" src="" alt="Gráfico de AF">
    <img id="dp-plot" src="" alt="Gráfico de DP">

    <script>
        document.getElementById('filter-form').addEventListener('submit', function(event) {
            event.preventDefault();
            const af = document.getElementById('af').value;
            const dp = document.getElementById('dp').value;

            fetch(`/api/filter?af=${af}&dp=${dp}`)
                .then(response => response.json())
                .then(data => {
                    document.getElementById('num-variants').innerText = `Número de Variantes Filtradas: ${data.num_variants}`;
                    document.getElementById('af-plot').src = data.af_plot;
                    document.getElementById('dp-plot').src = data.dp_plot;
                });
        });
    </script>
</body>
</html>
